<html>
<head>
	<title>Map</title>
	<link rel="stylesheet" href="./style.css">
</head>

<body>
<center><h1>Welcome to Soundway</h1></center>
<div class="container">
<div class="main">
<div class="content">
<div class = "search">
<form>
<input id = "search-tab" type="text" placeholder="Search" />
</form>
<img src="./assets/profile.jpg" id="profile-icon">
</div>
<div class="local">
<h1 id="local-text">LOCAL</h1>
<div class="place">
<div id="loc-one"></div>
<h3 id="local-place">University Pune</h3></div>
<br>
<div class="place">
<div id="loc-one"></div>
<h3 id="local-place">University Pune</h3></div>
</div>
<hr id="inner-hr">
<div class="saved">
<h1 id="local-text">SAVED</h1>
<div class="place">
<div id="loc-one"></div>
<h3 id="local-place">University Pune</h3></div>
<br>
<div class="place">
<div id="loc-one"></div>
<h3 id="local-place">University Pune</h3></div>
</div>

</div>
<div class="map"></div>
</div>
<hr>
</div>
</body>
</html>