<html>
  <head>
    <title>Map</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://apis.mappls.com/advancedmaps/api/f51ad2fe-f6aa-44eb-98bb-7a6b51644109/map_sdk?layer=vector&v=3.0"></script>
    <script src="https://apis.mappls.com/advancedmaps/api/f51ad2fe-f6aa-44eb-98bb-7a6b51644109/map_sdk_plugins?v=3.0"></script>
    <script
      type="text/JavaScript"
      src=" https://MomentJS.com/downloads/moment.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>

  <body>
    <div class="container">
      <div class="main">
        <div class="content">
          <div class="data">
            <div class="search">
              <form>
                <input id="search-tab" type="text" placeholder="Search" />
              </form>
              <img src="./assets/profile.jpg" id="profile-icon" />
            </div>

            <div class="local">
              <h1 id="local-text">LOCAL</h1>
              <div class="place">
                <div id="loc-one"></div>
                <h3 id="local-place">University Pune</h3>
              </div>
              <div class="place">
                <div id="loc-one"></div>
                <h3 id="local-place">University Pune</h3>
              </div>
            </div>

            <!-- <hr id="inner-hr" /> -->

            <div class="savedContent">
              <div class="saved-text">
                <h1 id="local-text">SAVED</h1>
                <!-- <div class="place">
                  <div id="loc-one"></div>
                  <h3 id="local-place">University Pune</h3>
                </div> -->
                <button id="load">Load More</button>
              </div>
              <div class="saved"></div>
            </div>
          </div>
        </div>
        <div id="map"></div>
      </div>

      <!-- <hr /> -->
      <div class="parent-container grid grid-cols-12 gap-x-6 mt-2">
        <div class="bottom-left-container col-span-4 p-2">
          <div id="date" class="text-2xl"></div>
          <div class="flex items-center">
            <div id="time" class="text-black text-5xl mr-2"></div>
            <div id="meridian"></div>
            <img src="../assets/Rain Cloud.png" class="ml-10" />
          </div>
          <div id="weather" class="text-center mt-4"></div>
        </div>

        <div class="bottom-right-container col-span-8 flex items-center p-4">
          <form method="POST" action="/">
            <div
              id="speak"
              class="w-24 h-24 bg-white flex justify-center items-center rounded-full"
            >
              <img src="microphone.png" id="microphone" />
            </div>
          </form>
          <div
            id="place-img"
            class="h-28 w-32 ml-10 rounded border-2 border-black"
          ></div>
          <div
            id="place-info"
            class="h-28 w-7/12 ml-6 rounded border-2 border-black"
          ></div>
        </div>
      </div>
    </div>

    <script type="module">
      let searchLoc = "chaphekar chowk, chinchwad";
      var currentLoc = {};
      var map, marker;
      let place;

      //initializing map
      map = new mappls.Map("map", {
        center: [28.09, 78.3],
        zoom: 5,
      });

      //function to search location from searchLoc and also add marker
      async function map_search(searchLocation, map) {
        return new Promise((resolve, reject) => {
          var optional_config = {
            region: "IND",
            height: 300,
          };
          new mappls.search(searchLocation, optional_config, callback);
          function callback(data) {
            if (data) {
              let dt = data[0];
              if (!dt) {
                resolve(null);
                return;
              }

              var eloc = dt.eLoc;
              var place = dt.placeName + ", " + dt.placeAddress;

              if (marker) marker.remove();
              mappls.pinMarker(
                {
                  map: map,
                  pin: eloc,
                  popupHtml: place,
                  popupOptions: {
                    openPopup: true,
                  },
                },
                function (data) {
                  marker = data;
                  marker.fitbounds();
                }
              );

              resolve(dt);
            } else {
              resolve(null);
            }
          }
        });
      }

      // if (searchLoc != undefined) {
      // }

      //get savedLoc from server
      async function getSavedLoc(){
        let response = await fetch("http://localhost:3000/getSavedLoc")
        let data = await response.json()

        console.log(data)
      }

      place = await map_search(searchLoc, map);
      console.log(place);

      //for the date and time
      const now = new Date();
      var date_container = document.getElementById("date");
      const date = now.toLocaleDateString();
      date_container.innerHTML = date;

      var meridian = document.getElementById("meridian");

      meridian.style.height = time.offsetHeight + "px";

      function displayDateTime() {
        const now = new Date();
        const time = now.toLocaleTimeString();
        document.getElementById("time").innerHTML = time;
      }

      displayDateTime();
      setInterval(displayDateTime, 1000);
      
      document.getElementById("load").addEventListener("click", function () {
        getSavedLoc();
      });
    </script>
  </body>
</html>
