
.container{
    background-color:#b7e1f7;
    height : 100%;
    }
    
    hr{
    color : black;
    }
    .main{
    background-color:#b7e1f7;
    height : 75%;
    display : flex;
    justify-content : center;
    
    }
    
    .content{
    background-color:#309ed9;
    height : 540px;
    width : 37%;
    margin-top : 10px;
    border-style : solid;
    border-width : 2px;
    border-color : black;
    border-radius : 10px;
    }
    
    #map{
    background-image: url("./assets/map.png");
    border-style : solid;
    border-width : 2px;
    border-color : black;
    border-radius : 10px;
    height : 540px;
    width : 60%;
    margin-top : 10px;
    margin-left : 10px;
    }
    
    .search{
    margin-left : 20px;
    margin-top : 20px;
    display : flex;
    
    }
    
    form{
    margin-bottom : 0px;
    }
    #search-tab{
    width : 440px;
    height : 30px;
    margin-left : 2px;
    }
    
    #profile-icon{
    height : 35px;
    width : 35px;
    border-radius : 50%;
    margin-left : 13px;
    }
    
    .local{
    padding: 0px;
    margin-left : 25px;
    }
    #local-text{
    margin-bottom : 10px;
    }
    #local-place{
    margin-top:0px;
    margin-left : 15px;
    }
    .place{
    display : flex;
    }
    #inner-hr{
    width : 90%;
    }
    #loc-one{
    height : 70px;
    width : 70px;
    background-color : #fafafa;
    border-radius : 10px;
    margin-bottom : 5px;
    }
    .saved{
    margin-left : 25px;
    }
    
    #speak{
        position: relative;
        left: 43%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: white;
    }
    #microphone{
        height: 80%;
    }
    #place-img{
        height: 120px;
        width: 120px;
        background: black;
        display: inline-block;
        position: relative;
        left: 50%;
    }

    #place-info{
        height: 120px;
        width: 34%;
        background: black;
        display: inline-block;
        position: relative;
        left: 52%;
    }

    .bottom-right-container{
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 10px;
        width: 80%;
    }

    .bottom{
        display: grid;
        grid-column: 2;
    }

    .bottom-left-container{
        display: inline-block;
        width: 600px;
    }
    #time{
        width: 300px;
        height: 120px;
        background: white;
        color: black;
    }
        #place-info {
        height: 120px;
        width: 34%;
        background: black;
        display: inline-block;
        position: relative;
        left: 52%;
    }
    
    .parent-container {
        display: grid;
        grid-column: 12;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    
    .bottom-right-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        /* width: 80%; */
        column-span: 8;
    }
    
    .bottom-left-container {
        display: inline-block;
        /* width: 600px; */
        column-span: 4;
    }

    form{
        margin-bottom : 0px;
        }
        #search-tab{
        width : 440px;
        height : 30px;
        margin-left : 2px;
        }
        
        #profile-icon{
        height : 35px;
        width : 35px;
        border-radius : 50%;
        margin-left : 13px;
        }
        
        .local{
        padding: 0px;
        margin-left : 25px;
        }
        #local-text{
        margin-bottom : 10px;
        }
        #local-place{
        margin-top:0px;
        margin-left : 15px;
        }
